services:
    tbn_qbrg.generator.repository_generator:
        class: tbn\QueryBuilderRepositoryGeneratorBundle\Generator\RepositoryGenerator
        arguments:
            - "%tbn_qbrg.generator.template.top_repository%"
            - "%tbn_qbrg.generator.template.column%"
            - "%tbn_qbrg.generator.template.bottom_repository%"
            - "%tbn_qbrg.generator.bundles%"
            - "@doctrine"
            - "@kernel"
            - "@tbn_qbrg.configuration.configurator"
            - "%tbn_qbrg.generator.template.association%"
    tbn_qbrg.configuration.configurator:
        class: tbn\QueryBuilderRepositoryGeneratorBundle\Configuration\Configurator
        arguments:
            - "%tbn_qbrg.generator.template.entity_configuration%"
            - "%tbn_qbrg.generator.template.repository_extension%"
    tbn_qbrg.generator.repository_generator_warmer:
        class: tbn\QueryBuilderRepositoryGeneratorBundle\CacheWarmer\RepositoryGeneratorWarmer
        arguments:
            - "@tbn_qbrg.generator.repository_generator"
        tags:
          - {name: "kernel.cache_warmer"}
